@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-blue:#143B68;
    --light-blue:#139BA3;
    --green:#79C03B;
}
body{
    background-image: url('assets/bg_splash.png');
    background-size: 80%;
    font-family: 'Poppins', sans-serif;
}
nav {
    padding:5% 0  0 10%;
    
}
nav a{
   
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    color: var(--dark-blue);
}
.intro{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}
.intro img{
    height: 300px;
    margin-left: 100px;
    
    filter: opacity(0.7);
}
.intro-section {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 10%;
}
.intro-section header{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bolder;
}
.intro-section header div{
    display: flex;
    
}
.blob{
    color: white;
    margin-left: 10px;
    padding: 0px 10px;
    background-image: url('assets/blob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    height: 65px;
    margin-top: -5px;
    line-height: 65px;
}
.dash{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 5px;
    background: #29BBC4;
    width: 70px;
}
.intro-content{
    max-width: 400px;
    font-size: 1rem;
    letter-spacing: 1.2px;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.our-difference{
    
    background-image: url('assets/panel2top.png');
    background-size: cover;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 10% 0 0 10%;
    font-size: 2rem;
    font-weight:500;
}

.our-difference .content{
   
    font-weight: 400;
    font-size: 1rem;
}
.bottom{
    background-image: url('assets/panel2btm.png');
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.help-section{
    background-color: white;
}
.help-section header{
    font-size: 2rem;
}
.help-header{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.help-section main{
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 20px;
}
.help-card{
    max-width: 200px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0 0 32px 0 rgb(100 122 148 / 18%);
    
}
.locations{
    background-color: var(--green);
  
    padding-bottom: 20px;
}
.locations header{
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    color: white;
}
.locations main{
    text-align: center;
    padding: 20px;
}
.locations main p{
    color: var(--dark-blue);
    margin: 5px;

}
.clubs{
    background-color: white;
    padding-bottom: 20px;
}
.clubs header{
    color: var(--dark-blue);
    text-align: center;
}
.clubs>div{
    padding-top: 20px;
   
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items:  center;
    
}

.clubs p{
    font-size: 1.5rem;
    color:var(--green);
    text-align: center;
}

@media  screen and (max-width:700px) {
    body{
        overflow-x: hidden;
    }
    nav {
        font-size: 1rem;
        padding: 0;
      text-align: center;
       
     }
     .intro{
         font-size: 1rem;
         flex-direction: column;
         align-items: center;
     }
     .intro img{
         width: 90%;
         height: 200px;
         margin: 0;
         margin-top: 10px;
     }
     .intro-section{
         padding-left: 10px;
         padding-top: 0px;
     }
     .our-difference{
         position: relative;;
         padding: 5px;
         text-align: center;
     }
     .our-difference header{
         margin: 5px;
     }
     .our-difference .dash{
        display: none;
     }
     .our-difference main{
         
         position: absolute;
         bottom: -1px;
     }
     .help-section header{
         text-align: center;
         padding: 5px;
     }
     .help-section main{
         flex-direction: row;
         flex-wrap: wrap;
     }
     .help-card{
         display: inline;
     }
    
}